################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UIMyPersonal/AboutMe/AboutMe.aspx
/UIMyPersonal/AboutMe/AboutMe.aspx.cs
/UIMyPersonal/AboutMe/AboutMe.aspx.cs
