<?xml version="1.0"?>
<configuration>
  <location path="Media">
    <system.webServer>
      <directoryBrowse enabled="true"/>
      <!--<staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      </staticContent>-->
    </system.webServer>
  </location>
  <location path="images">
    <system.webServer>
      <directoryBrowse enabled="true"/>
      <!--<staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      </staticContent>-->
    </system.webServer>
  </location>
  <location path="js">
    <system.webServer>
      <directoryBrowse enabled="true"/>
      <!--<staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      </staticContent>-->
    </system.webServer>
  </location>
  <location path="docs">
    
    

    <system.webServer>
      <directoryBrowse enabled="true"/>
      <!--<staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      </staticContent>-->
      
    </system.webServer>


    
  </location>
  <appSettings>
    <add key="PageInspector:ServerCodeMappingSupport" value="Disabled"/>
    <!--<add key="vs:EnableBrowserLink" value="false"/>-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule"/>
      <add name="UrlRoutingModule" type="UrlRewrite.RewriteModule, UrlRewrite"/>
    </modules>
<!--<rewrite>
  <rules>
     <rule name="TestRule" stopProcessing="true">
     <match url="(.*)" />
     <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
        <add input="{HTTP_HOST}{REQUEST_URI}" pattern="http://localhost:53295/Default.aspx" />
       <add input="{HTTP_HOST}{REQUEST_URI}" pattern="http://gopala-krishna.com/Default.aspx" />

     </conditions>
     <action type="Redirect" url="http://gopala-krishna.com" redirectType="Permanent"/>
     </rule>
  </rules>
</rewrite>-->

    <!--<rewrite>
      <rules>
        <rule name="WP Redirect" stopProcessing="true">
          <match url="http://gopala-krishna.com/Default.aspx" ignoreCase="true" />
          <action type="Redirect" redirectType="Permanent" url="http://gopala-krishna.com" />
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>

  
  
</configuration>